<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">

          <input type="hidden" name="_id" [(ngModel)]="employeeService.selectedEmployee._id">

          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Enter your full name"
              name="name"
              [(ngModel)]="employeeService.selectedEmployee.name"
            >
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Enter your position"
              name="position"
              [(ngModel)]="employeeService.selectedEmployee.position"
            >
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Enter your office"
              name="office"
              [(ngModel)]="employeeService.selectedEmployee.office"
            >
          </div>
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              placeholder="Enter your salary"
              name="salary"
              [(ngModel)]="employeeService.selectedEmployee.salary"
            >
          </div>
          <button (click)="resetForm(employeeForm)" class="btn btn-primary mr-2">
            Clean
          </button>
          <button class="btn btn-secondary">
            Save
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Office</th>
        <th>Operations</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employeeService.employees">
        <td>{{ employee.name }}</td>
        <td>{{ employee.position }}</td>
        <td>{{ employee.office }}</td>
        <td>
          <button class="btn btn-secondary" (click)="editEmployee(employee)">Edit</button>
          <button class="btn btn-danger" (click)="deleteEmployee(employee._id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
