<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">MEAN Employees</a>
  </div>
</nav>

<div class="container pt-5">
  <app-employee></app-employee>
</div>

